.fundo{background-color: #265289;}

.linha{
    border-top: 3px solid #ffff;
}
.branco{
    color: #fff;
}
.texto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    color: #c3924c;
}
.bloco a{
    text-decoration: none;
    color: white;
    text-align: end;
    font-size: 20px;
}
.tamanho{
    size: 5vh;
    padding-top: 20px;
}

.icone{
    height: 100px;
}
.texto2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: #c3924c;
    margin-left: 30px;
}
.carrinho{
  margin-left: 100px;
  margin-top: 25px;
}
.hamburger{
  margin-left: 200px;
}
.carrinho{
    margin-left: 200px;
}

.pesquisa{
  padding-top: 18px;
  margin-right: 50px;
}
.redondo{
  border-radius: 5%;
  color: #265289;
}
/*inicio Card carousel*/
.cards-wrapper {
  display: flex;
}
.card {
  margin: 1rem;
  border: solid 1px #265289;
  width: 500px;
}
.carousel-inner {
  padding: 1em;
}
.card img{
  height: 350px;
}
.texto2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color: #c3924c;
}
p{
  margin-bottom: 30px;
}
.prod{
  margin-bottom:30px
}
/*Historia Dominus*/
.borda{
  border: solid 2px #265289;

}
.historia {
  text-align: center;
  padding-top: 20px;
}
.nosso{
  margin-top: 10%;
}
.botao a{
  color: white;
  text-decoration: none;
}
.ver{
  background-color: #265289;
}
.butao{
  background-color: #265289;
  width: 175px;
  height: 40px;
}
.teste{
  margin-top: 20px
}
.tamanho2{
  margin-bottom: 100px;
  width: 170px;
  height: 44px;
}
.mais{
  margin-left: 220px;
  margin-bottom: 20px;
}
.insta{
  text-decoration: none;
  color: #fff;
}
/*rodape*/
.sobre{
  margin-left: 5px;
}

footer P
{
  max-height: 0;
}

#linha1 , #linha2 , #linha3 , #linha4
{
  height: 3px;
  width: 50%;
  margin-top: -5px;
  background-color: #fff;
  display: none;

  animation: selecionado 1s;
}

#nav-1 a , #nav-2 a , #nav-3 a , #nav-4 a
{
  text-decoration: none;
  color: #fff;
}

@keyframes selecionado {
  
  0% { width: 0px; }
  100% { width: 50%; }

}
